<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housings.dao.UserDao">
    <select id="getUserByNamePassword" resultType="User">
    select
    * from USER where binary
    name=#{username} and binary password=#{password} limit 1
    </select>
    
    <update id="deleteUser">
        update USER set isDelete=1
        where isDelete=0 and id in
        <foreach collection="ids" item="id" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </update>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id"
            parameterType="User">
        INSERT INTO `USER` (`NAME` ,`PASSWORD`,`role`,
                            address,tel,isDelete)
        VALUES
            (#{name},#{password},#{role},#{address},#{tel},0)
    </insert>

    <update id="updateUser" parameterType="User">
        update USER set name=#{name},password=#{password},
        address=#{address},tel=#{tel}
        where isDelete=0 and id=#{id}
    </update>

    <select id="queryAll" resultType="User">
        select * from user where isDelete = 0
    </select>

    <select id="validate" resultType="User">
        select * from user where isDelete = 0 and name = #{username} limit 1
    </select>
    <select id="countItem" resultType="java.lang.Integer">
        select COUNT(1) from user 
    </select>

    <select id="searchUser" resultType="User" parameterType="java.lang.String">
        select * from user where isDelete = 0 and name = #{name}
    </select>

    <select id="findByUserId" resultType="User" parameterType="User">
        select * from user where isDelete = 0 and id = #{id}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        update USER set isDelete=1 where isDelete=0 and id=#{id}
    </update>
</mapper>